<mat-card class="sidebar">
  <mat-list>
    <mat-action-list>
      <mat-list-item
        class="list"
        routerLinkActive="active"
        routerLink="/user/all"
      >
        <mat-icon matListIcon>home</mat-icon> All Quizzes
      </mat-list-item>
      <mat-list-item
        class="list"
        *ngFor="let cat of categories"
        [routerLink]="'/user/' + cat.cid"
        routerLinkActive="active"
      >
        <mat-icon matListIcon>category</mat-icon>{{ cat.title }}</mat-list-item
      >
    </mat-action-list>
  </mat-list>
</mat-card>
